/* .box{
    height: 100px;
    width: 100px;
    margin: 5px;
    color: rgb(104, 11, 19);
    text-align: center;
    border: 2px solid black;
    text-transform: capitalize;
    background-color: rgb(210, 228, 110);
} */

 /* .boxi{
    height: 250px;
    width: 150px;
    text-align: center;
    font-size: 24px;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(6, 236, 6);
    border: 1px solid black;
    text-transform: capitalize;
    background-color: rgb(15, 1, 1);
} 

ul li{
list-style-type: none;
}

.para{
    color: pink;
}

.newClass{
    height: 80px;
    width: 80px;
    margin: 5px;
    text-align: center;
    border: 2px solid rgb(236, 11, 11);
    text-transform: capitalize;
    background-color: rgb(94, 52, 95);
}  */